<div class="calc-typed">
    <div class="container">
    <div class="calc-body">
      <div class="calc-screen">
        <div class="calc-operation"> </div>
       
      </div>
       

      <div class="btn-group">
    <button class="group">Algebra</button>
    <button class="group">Trignometry</button>
    <button class="group">Statistics</button>
    <button class="group">Calculus</button>
    <button class="group">Matrices</button>
    <button class="group">Variables</button>
    <button class="group">List</button>
  </div>
    
     
      <div class="calc-button-row">
        <button class="button c ">AC</button>
        <button class="button ">log</button>
        <button class="button ">log</button>
        <button class="button ">ln</button>
        <button class="button ">(</button>
        <button class="button " > )</button>
        <button class="button " >7</button>
        <button class="button " >8</button>
        <button class="button ">9</button>
        <button class="button c" >BS</button>
      </div>
      <div class="calc-button-row">
        <button class="button">| x |</button>
        <button class="button">⌊x⌋</button>
        <button class="button">⌈x⌉</button>
        <button class="button l">x!</button>
        <button class="button">∏</button>
        <button class="button">∏</button>
        <button class="button" >4</button>
        <button class="button" >5</button>
        <button class="button l" >6</button>
        <button class="button l">÷</button>
      </div>
      <div class="calc-button-row">
        <button class="button 1">≤</button>
        <button class="button 1">≥</button>
        <button class="button l">⬚ 	⬚/a</button>
        <button class="button l">ln</button>
        <button class="button l">%</button>
        <button class="button l">θ</button>
        <button class="button l" >1</button>
        <button class="button l" >2</button>
        <button class="button l" >3</button>
        <button class="button l">*</button>
      </div>
      <div class="calc-button-row">
       <button class="button 1"><</button>
        <button class="button 1">></button>
        <button class="button l">log</button>
        <button class="button l">ln</button>
        <button class="button l">X</button>
        <button class="button l">i</button>
        <button class="button l">0</button>
        <button class="button l">.</button>
        <button class="button l">+</button>
        <button class="button l">-</button>
      </div>
      <div class="calc-button-row">
       <button class="button c"><-</button>
        <button class="button c">-></button>
        <button class="button l">log</button>
        <button class="button l">ln</button>
        <button class="button l">Y</button>
        <button class="button l">∞</button>
        <button class="button l">,</button>
        <button class="button l">=</button>
        <button class="button l">↵</button>
        <button class="button c">▷</button>
          </div>
            
        </div>
      </div>
    </div>





