<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>


  <div class="search-container">
  
    <input type="text" class="searchTerm" >
    <button type="submit" class="searchButton" (click)="onclick()">
      <i class="fa fa-search"></i>
   </button>
 
 <ng-container *ngIf="visible">
  <div >
  

  <div class="calc-typed">
    <div class="container">
    <div class="calc-body">
      <div class="calc-screen">
        <div class="calc-operation">x.x².3x </div>
       
      </div>
       

      <div class="btn-group">
    <button class="group">Algebra</button>
    <button class="group">Trignometry</button>
    <button class="group">Statistics</button>
    <button class="group">Calculus</button>
    <button class="group">Matrices</button>
    <button class="group">Variables</button>
    <button class="group">List</button>
  </div>
    
     
      <div class="calc-button-row">
        <button class="button c ">AC</button>
        <button class="button ">log</button>
        <button class="button ">log</button>
        <button class="button ">ln</button>
        <button class="button ">(</button>
        <button class="button " > )</button>
        <button class="button " >7</button>
        <button class="button " >8</button>
        <button class="button ">9</button>
        <button class="button c" >BS</button>
      </div>
      <div class="calc-button-row">
        <button class="button">| x |</button>
        <button class="button">⌊x⌋</button>
        <button class="button">⌈x⌉</button>
        <button class="button l">x!</button>
        <button class="button">∏</button>
        <button class="button">∏</button>
        <button class="button" >4</button>
        <button class="button" >5</button>
        <button class="button l" >6</button>
        <button class="button l">÷</button>
      </div>
      <div class="calc-button-row">
        <button class="button 1">≤</button>
        <button class="button 1">≥</button>
        <button class="button l">⬚</button>
        <button class="button l">ln</button>
        <button class="button l">%</button>
        <button class="button l">θ</button>
        <button class="button l" >1</button>
        <button class="button l" >2</button>
        <button class="button l" >3</button>
        <button class="button l">*</button>
      </div>
      <div class="calc-button-row">
       <button class="button 1"><</button>
        <button class="button 1">></button>
        <button class="button l">log</button>
        <button class="button l">ln</button>
        <button class="button l">X</button>
        <button class="button l">i</button>
        <button class="button l">0</button>
        <button class="button l">.</button>
        <button class="button l">+</button>
        <button class="button l">-</button>
      </div>
      <div class="calc-button-row">
       <button class="button c"><-</button>
        <button class="button c">-></button>
        <button class="button l">log</button>
        <button class="button l">ln</button>
        <button class="button l">Y</button>
        <button class="button l">∞</button>
        <button class="button l">,</button>
        <button class="button l">=</button>
        <button class="button l">↵</button>
        <button class="button c">▷</button>
          </div>
            
        </div>
      </div>
    </div>
    </div>
    </ng-container>
    </div>


    <div class="sidenav">

      <p>Topics</p>
      <button class="dropdown-btn">Pre-Algebra 
        <i class="fa fa-caret-down"></i>
      </button>
    
      <button class="dropdown-btn">Algebra 
        <i class="fa fa-caret-down"></i>
      </button>
      
    
      <button class="dropdown-btn">  Trigonometry
        <i class="fa fa-caret-down"></i>
        
      </button>
      
    
      <button class="dropdown-btn">Calculus 
        <i class="fa fa-caret-down"></i>
      </button>
      
      
    <br>
    
    <br>
    
    
    
      <a >Algebra Calculator</a>
      <a >Trigonometry Calculator</a>
      <a >Calculus Calculator</a>
      <a >Matrix Calculator</a>
      
      
    </div>
    

    <div class="row">
      <div class="column" style="background-color:white;">
      <div class="p">
        <h2>Evaluate</h2>
        <p><i>3x⁴</i></p>
        <br>
        
        <button class="button A" (click)="onclick1()"> Hide </button>
        <ng-container *ngIf="visible1">
        <div >
        
    
       <p><b>SOLUTION STEPS</b></p>
       <br>
       <p><i> x.x².3x</i> </p>
       <br>
       
    
    <p class="p1">To multiply powers of the same base,add their exponents.Add 1 and 2 to get 3 </p>
    
    <br>
    
    x³ ×3x
    <br>
    
    <p class="p1">To multiply powers of the same base,add their exponents.Add 3 and 1 to get 4 </p>
    
    <br>
    
    <p><i>x⁴ ×3</i></p>
      </div>
    
    </ng-container>
    </div>
    </div>
    <div class="column" style="background-color:white;">
      <div class="p">
    <h1>Graph</h1>
    
    
    <img src="https://www.shutterstock.com/image-vector/parabola-391547623" alt="Parabola Graph">
    
    </div>
    
    
    
    </div>
    
    
    
    
    </div>
    





</body>
</html> 



<router-outlet></router-outlet>

