
  <div class="row">
    
    <div class="col-9">
        <div class="row">
            <div class="btn-group col1" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary text-dark grey col-5">PROFILE</button>
                <button type="button" class="btn btn-secondary text-dark grey col-5">EDUCATION</button>
                <button type="button" class="btn btn-secondary text-dark grey col-5">MY CLINIC</button>
              </div>
            </div>

            <div class="row">
                <div class="btn-group col1" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary text-dark grey col-5">INSURANCE</button>
                    <button type="button" class="btn btn-secondary text-dark grey col-5">FORMS</button>
                    <button type="button" class="btn btn-secondary text-dark grey col-5"><a href="Models">3D MODELS</a></button>
                  </div>
            </div>
            
            
            <div class="row">
                <div class="btn-group col1" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary text-dark grey col-5 ">CONDITIONS</button>
                    <button type="button" class="btn btn-secondary text-dark grey col-5">DIAGNOSIS</button>
                    <button type="button" class="btn btn-secondary text-dark grey col-5">FEEDBACK</button>
                  </div>
            </div>
        
        
        </div>
    
        <div class="col-3 col3">
            <p class="para text-white">My Premium</p>
            <ul class="border">

                <p>9.95 $/m</p>
                <p>validity 12/3/2020- 11/4/2020</p>
                <li>unlimited storage</li>
            <br>
                <li>unlimited followup SMS</li>
                <br>
                <li>All 3D models</li>
                <br>
                <li>Online Appointments</li>
                <br>
                <li>Priority Support</li>
                <br>
                <li>Reports and Analytics</li>
            </ul>
                      


                    
              
            
            </div>
    </div>


